@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/SegoeUI/Segoe UI Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/SegoeUI/Segoe UI.woff') format('woff');
}

:root{
  --color-secundario: #C61156;
  --color-secundario-hover: #B40044;
  --fondo: rgb(242, 243, 247);
  --fuente: "Segoe UI Bold";
}
