@import "constantes.css";

body{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: url('/assets/fondo.webp') no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-wrapper{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  height: 5vh;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  font-family: var(--fuente);
  
}

.input-wrapper:hover{
  border-color: var(--color-secundario);
}

input{
  width: 90%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--fuente);
}
input:autofill,
input:-webkit-auto-fill{
  width: 90%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--fuente);
}

label{
  font-family: var(--fuente);
}

input:focus{
  outline:none;
}

img.logo{
  border-radius: 10px;
  margin: 10px;
}

img.animado{
  animation-name: rotar-logo;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}


@keyframes rotar-logo {
  100%{
    transform: rotate(360deg);
  }
}

form {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.login-form {
  text-align: left;
  font-size: 1rem;
}
.login-form__fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 0;
  padding: 0;
}

.login-form__headline{
  text-align: center;
  overflow-wrap: anywhere;
  margin: 0 auto;
}

.guest-box{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  width: 50vw;
  max-width: 300px;
  min-width: 200px;
  border-radius: 28px;
  box-shadow: 0px 0px 10px black;
  display: block;
  backdrop-filter: blur(10px);
  margin: auto;

}
.boton {
  background-color: var(--color-secundario);
  color: #ffffff;
  margin-top: .5rem;
  margin: 0 auto;
  padding: 0 16px 0 16px;
  position: relative;
  width: fit-content;
  overflow: hidden;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  min-height: 44px;
  min-width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 22px;
  transition-property: color,border-color,background-color;
  transition-duration: .1s;
  transition-timing-function: linear;
  font-family: var(--fuente);
}

.boton:hover{
  background: var(--color-secundario-hover);
}

.mensajeError{
  border-color: red;
  border-width: 2px;
  border-style: solid;
  font-family: "SegoeUI";
  align-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  flex-direction: row;  
  align-items: center;
  margin-top: 10px;
}

.mensajeError > * {
  margin: 10px;
  color: red;
  font-family: var(--fuente);
  font-size:0.8em;
}

.loginIncorrecto{
  display: none;
}
.loginVacio{
  display: none;
  align-self: center;
}


