@import "constantes.css";

.nav-bg{
  background-color: var(--color-secundario);
}

.font {
  font-style: var(--font) !important;
  font-weight: bold;
  color: white;
}

.logo img{
  height: 50px;
}

@media only screen and (min-width: 991px) {
  .navbar {
    padding: 0 1rem;
  }
  
  .nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }
  .navbar-collapse{
    height: 10vh;
  }
}

.nav-activo {
  text-decoration: underline;
  font-size: 1em;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 2px;
  border: solid;
  border-color: black;
}
