@import "constantes.css";


html, body {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body{
  background-color: var(--fondo);
}

.navBar{
  margin-top: 0;
  overflow: hidden;
  background-color: var(--color-secundario);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navBar a.logo{
  margin:0;
  padding:0;
  height: 50px;
}

.navBar a.logo img{
  height: 50px;
}

.navBar a.logo:hover{
  filter: brightness(80%);
}
.container1{
  display: table;
}
.container1 *{
  height: 50px;
}

.container1 .enlace{
  float: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  color: white;
  text-align: center;
  padding-right: 16px; 
  padding-left: 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--fuente);
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.container1 .enlace h1{
  font-size: 1em;
}

.container1 a:hover{
    background-color: var(--color-secundario-hover);
  }

.container1 a.activo{
  background-color: var(--fondo);
  color: black;
}



.busqueda input{
  padding-left: 0;
  margin-left: 10px;
  text-shadow: non;
  height: 30px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: lightgray;
  outline: none;
  font-family: var(--fuente);
}
.salida{
    padding-top: 0;
    align-self: center;
    margin-right: 5px;
    display: flex;
    padding-left: 5px;
  }

.salida img{
  height: 30px;
  align-self: center;
}

.container2{
  display: flex;
  margin-left: auto;
}
.container2 *{
  height: 50px;
}

.container2 .busqueda{
  margin-left: auto;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  padding: 0;
}

.container2 .busqueda img{
  height: 40px;
  margin-right:0;
}
